[submodule "qbs"]
	path = src/shared/qbs
	url = ../../qt-labs/qbs.git
	ignore = dirty
[submodule "src/plugins/notify"]
	path = src/plugins/qtcreatornotify
	url = https://github.com/renemilk/qtcreator-notify
